@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	font-family: "Titillium Web", sans-serif;
	box-sizing: border-box;
}

:root {
	--main-color: #065a82;
	--text-color: #232323;
	--secondary-color: #0797b0;
}

.App {
	display: flex;
	flex-direction: column;
}

/* .navbar {
	flex-basis: 100%;
	
	padding: 15px 2rem;
	display: flex;
	justify-content: space-between;
} */

/* .navbar .logo {
	color: #fff;
	text-transform: uppercase;
} */

.btn {
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
	position: absolute;
	top:60px;
	left: 87%;
	margin-left:30px ;
}
.btn2 {
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
	top:50px;
	margin-left:30px ;
}

.shopping-cart-btn {
	color: #000;
	display: flex;
}

.product-count {
	margin-top: -5px;
	width: 20px;
	height: 20px;
	border-radius: 12px;
	background-color: var(--secondary-color);
	overflow: hidden;
}

/* main {
	width: 80%;
	margin: auto;
	padding: 2rem 0;
} */

.title {
	margin: 2rem 0;
}

/* .products {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
} */

/* .product {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	height: 550px;
	flex-basis: 25%;
	padding: 10px;
	border: 4px solid #fff;
	background-color: #eee;
	position: relative;
	overflow: hidden;
} */

.product > * {
	color: var(--text-color);
}

.product-image {
	display: block;
	width: 100%;
	height: 55%;
	object-fit: contain;
	background-color: #fff;
}

.product-name {
	margin-top: 10px;
}



.product-price {
	display: block;
	margin: 10px 0;
	justify-self: flex-end;
}

.buttons {
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 0.5s;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: #00000044;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.product:hover .buttons {
	opacity: 1;
}

@media(max-width:500px){
	.btn {
		left: 80%;
		top: 82px;
		}   
}
@media(max-width:999px){
	.btn {
        left: 91%;
       
    }
}